<div class="container" ng-controller="ProfileController">
  <div class="header">
    <h1>Profile</h1>
  </div>
  <div class="body">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="well"></div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="well"></div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="well"></div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="well"></div>
        </div>
      </div>
  </div>
</div>
