/* line 4, scss/app.scss */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/* line 6, scss/app.scss */
.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, to top, to bottom, color-stop(0%, #000000), color-stop(100%, #337ab7));
  background-image: -webkit-linear-gradient(to top, #000000, #337ab7);
  background-image: -moz-linear-gradient(to top, #000000, #337ab7);
  background-image: -o-linear-gradient(to top, #000000, #337ab7);
  background-image: linear-gradient(to top, #000000, #337ab7);
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 16, scss/app.scss */
.login-page .login-form {
  margin-top: 200px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* line 22, scss/app.scss */
.login-page .login-form .header {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  margin-bottom: 10px;
}
/* line 27, scss/app.scss */
.login-page .login-form .header h1, .login-page .login-form .header h2, .login-page .login-form .header h3, .login-page .login-form .header h4, .login-page .login-form .header h5, .login-page .login-form .header h6 {
  margin: 0px;
}
/* line 31, scss/app.scss */
.login-page .login-form .body {
  padding: 20px 30px 30px;
}

/* line 38, scss/app.scss */
.dashboard-page .navbar-default {
  border-color: #285f8f;
  background-color: #337ab7;
  border-radius: 0px;
}
/* line 44, scss/app.scss */
.dashboard-page .navbar-default .navbar-brand, .dashboard-page .navbar-default .navbar-nav > li > a {
  color: #fff;
}
/* line 50, scss/app.scss */
.dashboard-page .navbar-default .navbar-nav > .open > a, .dashboard-page .navbar-default .navbar-nav > .open > a:focus, .dashboard-page .navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #285f8f;
}

/* line 58, scss/app.scss */
.social-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  display: block;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}
/* line 67, scss/app.scss */
.social-button.selected {
  background-color: #337ab7 !important;
  color: #fff !important;
}
/* line 73, scss/app.scss */
.social-button:hover, .social-button:focus {
  border-color: #ccc;
  background-color: #ddd;
}
