<div class="login-page" ng-controller="LoginController">
  <div class="row">
     <div class="col-md-4 col-md-offset-4">
       <div class="login-form">
         <div class="header">
           <h1>Please Login</h1>
         </div>
         <div class="body">
           <div class="row">
             <div class="col-md-4 col-sm-12" ng-repeat="item in platforms">
                 <a class="social-button" ng-class="{'selected': user.platform == item.name}" ng-click="updatePlatform(item.name); login(item.name)">
                   <span ng-class="['fa', '{{item.icon}}', 'fa-4x']"></span></a>
             </div>
           </div>
         </div>
     </div>
  </div>
</div>
</div>
